{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
  Car detail
{% endblock %}

{% block content %}
  <div class="card text-white bg-secondary border-dark mb-3 w-75 mt-2">
    <div class="card-header text-center bg-dark border-light">
      {% block content_title %}
        <h2>{{ car.registration_number }}</h2>
      {% endblock %}
    </div>
    <div class="card-body text-center">
      <h5 class="card-title">Details:</h5>
      <p class="card-text">Model: {{ car.model }}</p>
      <p class="card-text">Manufacturer: {{ car.manufacturer }}</p>
      <p class="card-text">Year: {{ car.manufacture_year }}</p>
      <p class="card-text">Odometer: {{ car.odometer }}</p>
      <p class="card-text">User: {{ car.user.last_name }}</p>
      <a href="{% url 'car:edit-car' car.id %}" class="btn btn-sm btn-primary">Edit</a>
      <a href="{% url 'car:delete-car' car.id %}" class="btn btn-sm btn-danger">Delete</a>
    </div>
    <div class="card-footer text-muted text-center bg-dark border-light">
      <a href="{% url 'car:car-list' %}" class="btn btn-info btn-block">Back</a>
    </div>
  </div>
{#  {% block content_title %}#}
{#    <h2>Car detail: {{ car.manufacturer }} {{ car.model }}</h2>#}
{#  {% endblock %}#}
{#  <ul>#}
{#    <li>{{ car.registration_number }}</li>#}
{#    <li>{{ car.manufacture_year }}</li>#}
{#    <li>{{ car.odometer }}</li>#}
{#  </ul>#}

{% endblock %}