{% extends 'base.html' %}
{% block page_title %}
  Car list
{% endblock %}
{% block content_title %}
  <h2>Car list:</h2>
{% endblock %}
{% block app_name %}
  Cars
{% endblock %}
{% block edit_url %}
  {% url 'car:edit-car' object.pk %}
{% endblock %}
{% block delete_url %}
  {% url 'car:delete-car' object.pk %}
{% endblock %}
{% block element %}
  <td class="text-center">
    <a style="text-decoration: none; color: black"
       href="{% block detail_url %}{{object.get_absolute_url}}{% endblock %}">
      {{ object.manufacturer }} {{ object.model }} {{ object.registration_number }}
    </a>
  </td>

{% endblock %}