{% extends 'base.html' %}

{% block page_title %}
  Employee list:
{% endblock %}

{% block content_title %}
  <h2>Employee list:</h2>
{% endblock %}
{% block app_name %}
  Employee
{% endblock %}
{#{% block element %}#}
{#  <td>{{ object }}</td>#}
{#{% endblock %}#}
{% block edit_url %}
  {% url 'employee:edit-employee' object.pk %}
{% endblock %}
{% block detail_url %}
  {% url 'employee:employee-detail' object.pk %}
{% endblock %}
{% block delete_url %}
  {% url 'employee:delete-employee' object.pk %}
{% endblock %}
