{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
  Add product
{% endblock %}

{% block content %}
  <div class="container float-left mr">
    <div class="row justify-content-start">
      {% block content_title %}
        <h2>Add product:</h2>
      {% endblock %}
    </div>
      {% comment %}
    {% block forloop %}
      <ul>
        {% for package in product.packages.objects.all %}
          {{ package.get_type_display }}
        {% endfor %}
      </ul>
    {% endblock %}
    {% endcomment %}
    <div class="row justify-content-start">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input  class="btn btn-primary" type="submit" value="add product">
      </form>
    </div>
    </div>
{% endblock %}